body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

canvas {
  border: 1px solid black;
  cursor: pointer;
}

p {
  font: 700 1rem sans-serif;
  margin-bottom: 20px;
}

